<div id="timeline" class="tl-container">
    
    <div class="tl-block" id="tl-header-4">
        <div class="tl-hd"><h3>2012年4月</h3></div>
        <ol class="tl-bd tl-clear">
            <li aria-hidden="true" class="tl-spine"><a href="#"><i data-action="doAdd"></i></a></li>
        <li class="tl-unit tl-unit-1" data-id="1">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥刚到家, 处女照!</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m446030-1336448367052.jpg" style="width: 357px;height: 596.938900203666px;"></p>
                    <p class="desc">Greek Yogurt Cheesecake with Pomegranate Syrup</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="2">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">第二周, 带它打完疫苗回来，到家不久就这样扒着睡起来，累的像乌龟样的了</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m446036-1336448440629.jpg" style="width: 357px;height: 213.68354430379748px;"></p>
                    
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --></ol>
    </div>
    
    <div class="tl-block" id="tl-header-5">
        <div class="tl-hd"><h3>2012年5月</h3></div>
        <ol class="tl-bd tl-clear">
            <li aria-hidden="true" class="tl-spine"><a href="#"><i data-action="doAdd"></i></a></li>
        <li class="tl-unit tl-unit-1" data-id="3">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥第三周, 那天家里来了杭州来的朋友给他拍的.</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m446037-1336448476631.jpg" style="width: 357px;height: 475.3532608695652px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="4">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥可爱样～不舍～好漂亮的眼睛～</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1337173810375.jpeg" style="width: 357px;height: 449.96202531645565px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="5">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥可爱样～不舍。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1337173841635.jpeg" style="width: 357px;height: 291.1518987341772px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="6">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥可爱样～不舍。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1337173865481.jpeg" style="width: 357px;height: 267.9113924050633px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="7">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥可爱样～不舍。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1337173905782.jpeg" style="width: 357px;height: 475.7848101265823px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="8">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥和他的玩具小鞋</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1337264679366.png" style="width: 357px;height: 596.904px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="9">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥美丽又可爱的侧面</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1337264770753.png" style="width: 357px;height: 596.904px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="10">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">呜呜呜，我就是够不着嘛～～～</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1337264854733.png" style="width: 357px;height: 596.904px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="11">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">关在柜子里的发哥，哈，像不像动物标本</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m446036-1336448440629.jpg" style="width: 357px;height: 213.486px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="12">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">傍晚带阿发出去遛了一会儿，小家伙呜呜呜的害怕死了，回来过不久就睡成这幅德行了。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1337518141158.png" style="width: 357px;height: 213.486px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="13">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">又一发哥萌照</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1337874119378.png" style="width: 357px;height: 596.904px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="14">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥第一次沐浴照，洗完了干净好多～</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1338207443547.jpeg" style="width: 357px;height: 357px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --></ol>
    </div>
    
    <div class="tl-block" id="tl-header-6">
        <div class="tl-hd"><h3>2012年6月</h3></div>
        <ol class="tl-bd tl-clear">
            <li aria-hidden="true" class="tl-spine"><a href="#"><i data-action="doAdd"></i></a></li>
        <li class="tl-unit tl-unit-1" data-id="15">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">终于给发哥戴上口罩啦，现在看你还乱叫啥？</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1338458597828.png" style="width: 357px;height: 596.904px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="16">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">做了大半天飞机的发哥，估计也是叫了一路，好不容易回到新家，吃喝完了不久后就睡成这德行了。嗯，到目前为止，还挺习惯的。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1338643490357.png" style="width: 357px;height: 213.486px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="17">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥又一次洗完澡后的睡觉中，现在又大了许多^o^</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1340099452047.png" style="width: 357px;height: 213.486px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="18">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">啊哈，不一会儿就睡成这德行了</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1340100198396.png" style="width: 357px;height: 213.486px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="19">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥的爪子</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m1342185918344.png" style="width: 357px;height: 237.048px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --></ol>
    </div>
    
    <div class="tl-block" id="tl-header-7">
        <div class="tl-hd"><h3>2012年7月</h3></div>
        <ol class="tl-bd tl-clear">
            <li aria-hidden="true" class="tl-spine"><a href="#"><i data-action="doAdd"></i></a></li>
        <li class="tl-unit tl-unit-1" data-id="20">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥对着一只老母鸡狂吠不止</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m547078-1342864485755.jpg" style="width: 357px;height: 420.2658227848101px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="21">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">发哥特写</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/m547080-1342864546762.jpg" style="width: 357px;height: 420.2658227848101px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --></ol>
    </div>
    
    <div class="tl-block" id="tl-header-9">
        <div class="tl-hd"><h3>2012年9月</h3></div>
        <ol class="tl-bd tl-clear">
            <li aria-hidden="true" class="tl-spine"><a href="#"><i data-action="doAdd"></i></a></li>
        <li class="tl-unit tl-unit-1" data-id="22">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">又长大了好多的发哥。 Sorry 八月份的照片没拍。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1348468897207.jpeg" style="width: 357px;height: 291.1518987341772px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="23">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">刚洗完澡的发哥。和他一起摆各种pose。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1348469553830.jpeg" style="width: 357px;height: 488.69620253164555px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-1" data-id="24">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">新买了牵引绳和项圈，老板送了个漂亮的蝴蝶结，于是乎。。。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1348469651030.jpeg" style="width: 357px;height: 595.2151898734177px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --><li class="tl-unit tl-unit-2" data-id="25">
                <div class="tl-unit-content tl-unit-custom">
                    <!-- unit content custom START -->
                    <p class="title">好动的发哥，最喜欢的唯一的一张抓拍到的“微笑天使”。</p>
                    <p class="pic"><img src="http://cdntest.aliyun.com/faxianla/wood/mt1348469686040.jpeg" style="width: 357px;height: 357.6455696202532px;"></p>
                    <p class="desc">Sunset with medieval Galata Tower called Christea Turris (the Tower of Christ in Latin) by the Genoese.</p>
                    <p class="meta"><span data-action="doLike">喜欢</span><span class="dot">˙</span><span data-action="doComment">评论</span></p>
                    <!-- unit content custom END -->
                </div>
                <b class="tl-unit-arrow"><i></i></b>
                <b class="tl-unit-bullet"></b>
            </li>
            <!-- todo --></ol>
    </div>
    
</div>

<ul class="tl-navigator" id="timeline-nav">
    
        <li><a href="#tl-header-4">2012年4月</a>
        
        </li>
    
        <li><a href="#tl-header-5">2012年5月</a>
        
        </li>
    
        <li><a href="#tl-header-6">2012年6月</a>
        
        </li>
    
        <li><a href="#tl-header-7">2012年7月</a>
        
        </li>
    
        <li><a href="#tl-header-9">2012年9月</a>
        
        </li>
    
</ul>



<style>
/* timeline block css */
.tl-clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.tl-clear {
  *zoom: 1;
}
.tl-container {
  width: 800px;
  margin: 0 auto;
}
.tl-container ul,
.tl-container ol,
.tl-container li,
.tl-container p {
  margin: 0;
  list-style: none;
}
.tl-container .tl-block {
  padding: 0;
}
.tl-container .tl-block .tl-hd {
  text-align: center;
}
.tl-container .tl-block .tl-hd h3 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  padding: 4px 12px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  background: #a9b5d3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tl-container .tl-block .tl-bd {
  position: relative;
  padding: 10px 0 20px;
}
.tl-container .tl-block .tl-bd .tl-spine {
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  margin-left: -1.5px;
  background: #c3ccdf;
}
.tl-container .tl-block .tl-bd .tl-spine a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: none;
}
.tl-container .tl-block .tl-bd .tl-spine a i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  left: -6px;
  top: 0;
  width: 15px;
  height: 21px;
  background: transparent url(../img/icons.png) no-repeat -132px -31px;
  visibility: hidden;
}
.tl-container .tl-block .tl-bd .tl-spine a:hover i {
  visibility: visible;
}
.tl-container .tl-block .tl-bd .tl-unit {
  position: relative;
  /* custom style */

}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-content {
  padding: 3px;
  border: 1px solid #97a4c2;
  margin-bottom: 10px;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-bullet {
  visibility: hidden;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  border-top: 6px dashed transparent;
  border-bottom: 6px dashed transparent;
  width: 0;
  height: 0;
  font-size: 0;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-arrow i {
  top: -6px;
  border-width: 6px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-bullet {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  width: 9px;
  height: 9px;
  background: #a9b5d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .title,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .pic,
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .desc {
  margin: 0 10px 10px;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 6px 0;
  color: #a9b5d3;
  border-bottom: 1px solid #E5E5E5;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .pic {
  text-align: center;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .meta {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  background: #EDEFF4;
  overflow: hidden;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .meta span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.tl-container .tl-block .tl-bd .tl-unit .tl-unit-custom .meta span.dot {
  position: relative;
  top: 4px;
  font-family: "Arial";
  margin: 0 4px;
}
.tl-container .tl-block .tl-bd .tl-unit-2,
.tl-container .tl-block .tl-bd .tl-unit-1 {
  float: left;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-bullet,
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-bullet {
  visibility: visible;
}
.tl-container .tl-block .tl-bd .tl-unit-1 {
  width: 385px;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow i {
  border-right: none;
  border-left: 6px solid #97a4c2;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow {
  right: -6px;
  top: 20px;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-arrow i {
  left: -7px;
  border-left-color: white;
}
.tl-container .tl-block .tl-bd .tl-unit-1 .tl-unit-bullet {
  top: 20px;
  right: -19.5px;
}
.tl-container .tl-block .tl-bd .tl-unit-2 {
  float: right;
  width: 385px;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow,
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow i {
  border-left: none;
  border-right: 6px solid #97a4c2;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow {
  left: -6px;
  top: 60px;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-arrow i {
  left: 1px;
  border-right-color: white;
}
.tl-container .tl-block .tl-bd .tl-unit-2 .tl-unit-bullet {
  top: 60px;
  left: -19.5px;
}
.tl-container .tl-block .tl-ft.tl-loading {
  padding-bottom: 10px;
  height: 20px;
  background: transparent url(../img/loading.gif) no-repeat center center;
}
.tl-navigator {
  position: fixed;
  top: 6%;
  right: 10%;
  margin: 0;
  list-style: none;
}
.tl-navigator li {
  list-style: none;
  line-height: 1.28;
}
.tl-navigator li a {
  color: #94A0C1;
  text-decoration: none;
  border-left: 5px solid #C8D1E2;
  padding-left: 20px;
}
.tl-navigator li.selected a {
  color: #627AAD;
  font-weight: bold;
  border-left-color: #627AAD;
}
</style>