<div class="center_wrap">
  <div class="container">

    <%= render partial:'basic_info' %>

    <div class="content_wrap">

      <div class="ihome_forum_group ihome_section clearfix">
          <h1 class="ihome_title">
            <span class="cut_line">|</span>订阅的专题
          </h1>
          <div class="clearfix u-f-wrap">
               
              <a data-fid="1482063" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=%C2%D2%D5%BD&amp;fr=home" class="u-f-item unsign"><span>乱战</span><span class="forum_level lv5"></span>
              </a>
               
              <a data-fid="83196" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=ruby&amp;fr=home" class="u-f-item unsign"><span>ruby</span><span class="forum_level lv2"></span>
              </a>
               
              <a data-fid="26001" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=%D0%A3%BB%A8&amp;fr=home" class="u-f-item unsign"><span>校花</span><span class="forum_level lv1"></span>
              </a>
               
              <a data-fid="24" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=%C3%C0%C5%AE&amp;fr=home" class="u-f-item unsign"><span>美女</span><span class="forum_level lv1"></span>
              </a>
               
              <a data-fid="57" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=%C7%E9%B8%D0&amp;fr=home" class="u-f-item unsign"><span>情感</span><span class="forum_level lv"></span>
              </a>
               
              <a data-fid="248112" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=dota&amp;fr=home" class="u-f-item unsign"><span>dota</span><span class="forum_level lv"></span>
              </a>
               
              <a data-fid="270044" target="_blank" locate="like_forums#ihome_v1" href="/f?kw=80%BA%F3&amp;fr=home" class="u-f-item unsign"><span>80后</span><span class="forum_level lv"></span>
              </a>
              <!-- <a href="#" class="u-f-item">查看更多>></a>   -->
          </div>    
      </div>

      <div class="ihome_hot_feed ihome_section">
        <h1 class="threadList_title"><span class="cut_line">|</span> 最新动态</h1>
        <ul class="new_list clearfix">
          <div class="n_right n_right_first clearfix">
            <div class="n_post_time">15:31</div>
            <div class="n_avatar">
              <a href="/f?kw=eve" target="_blank" title="eve">
                <img src="http://imgsrc.baidu.com/forum/pic/item/c75c10385343fbf2055a3891b17eca8065388f0a.jpg"></a>
            </div>
            <div class="n_contain">
              <div>
                <div class="thread_name">
                  <a href="/p/2686961668" target="_blank" class="title down" locate="feed_title#ihome_v1" title="兔子的ecm有多远啊，我被连击了">兔子的ecm有多远啊，我被连击了</a>
                </div>
              </div>
              <div class="n_txt">可爱的恶狼被连击了，想拉远打，不知道距离是多少</div>
              <div class="n_reply">
                <a href="javascript:;" title="主题作者" target="_blank" class="post_author grey2">阿伐斯</a>
                <span class="userinfo_split"></span>
                <a href="javascript:;" class="post_num grey2">26</a>
              </div>
            </div>
          </div>

          <div class="n_right clearfix">
            <div class="n_post_time">15:21</div>
            <div class="n_avatar">
              <a href="/f?kw=eve" target="_blank" title="eve">
                <img src="http://imgsrc.baidu.com/forum/pic/item/c75c10385343fbf2055a3891b17eca8065388f0a.jpg"></a>
            </div>
            <div class="n_contain">
              <div>
                <div class="thread_name">
                  <span class="title">
                  评论了 <a href="javascript:;" class="down">11-05【吐槽】人类已经无法阻止黄鼠狼了。。</a>
                  </span>
                </div>
              </div>
              <div class="n_txt_huifu">
                <div class="n_triangle"></div>
                <span>
                  <span class="n_type type_huifu"></span>
                  安心工作，下班就可以撸了撒
                </span>
                <span class="userinfo_split"></span>
                <a href="javascript:;" class="grey2">坦克世界吧</a>
              </div>
            </div>
          </div>


        </ul>
      </div>
      
    </div>

  </div>
</div>

<% content_for :bodyScript do %>


<% end %>


