
<div class="group_wrap">
  <div class="container">

    <div class="content">
			<form action="/group/create" id="group_form" method="post" enctype="multipart/form-data">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<div>
					标题(中文):
					<input type="text" id="group_title" name="title">
				</div>

				<div>
					标示名，域名(英文，数字，下划线):
					<input type="text" id="group_name" name="name">
				</div>

				<div>
					封面：
					<input type="file" name="cover_path" >
				</div>

				<div>
					简介:
					<textarea name="intro" id="group_intro" style="width:500px;height:120px;"></textarea>
				</div>

				<input type="button" id="submit_group" value="发布" onclick="return false;">
			</form>
		
    </div>


  </div>
</div>

<script>
	require(['jquery'],function($){
		$("#submit_group").bind('click',function(){

	    $("#group_form").submit();

		})
	})

</script>