<div class="group_wrap">
  <div class="container">

		<%= render partial:'basic_info' %>

		<div class="group-new-topic-bar">
			<div class="bns">
				<a class="click_tip bn-post1 none" href="/group/<%= @group.name %>/new">
					<span>
						<i>+</i>
						发言
					</span>
				</a>
				<div class="blocktip group_say hide">
					<div class="blocktip_content">
						<div>只有小组成员才能发言，请先加入小组</div>
					</div>
					<input type="submit" value="知道了">
				</div>
			</div>

			<div class="topic-tab">
				<a href="javascript:;" class="on">最近话题</a> <i>/</i>
				<a href="javascript:;">最热话题</a>
			</div>
		</div>


		<div class="group-topics">
			<ul class="threadlist">
				<li class="j_thread_list clearfix">
					<div class="t_con clearfix">
						<div class="threadlist_li_left">
							<div class="threadlist_rep_num" title="回复">109</div>
						</div>
						<div class="threadlist_li_right">
							<div class="threadlist_lz clearfix">
								<div class="threadlist_text threadlist_title notStarList ">
									<a href="javascript:;" title="各位吧友，求助啊，想换手机但是十分的迷茫" class="up">各位吧友，求助啊，想换手机但是十分的迷茫</a>
									<span></span>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author" title="主题作者: 448432672">
										<a class="" href="javascript:;">448432672</a>
									</span>
								</div>
							</div>
							<div class=" threadlist_detail clearfix">
								<div class="threadlist_text">
									<div class="threadlist_abs threadlist_abs_onlyline">
										<div class="threadlist_abs threadlist_abs_onlyline">
											本人现用的是大诺记n86，对，比较老的机器了，本来还想继续撑着用下去的但是实在是坚持不下去了，各种出错啥的，有时候开机就能把自己卡死，很多时候
										</div>
									</div>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author_rely" title="最后回复人：448432672">
										<a class="" href="javascript:;" target="_blank">448432672</a>
									</span>
									<span class="threadlist_reply_date" title="最后回复时间">10:44</span>
								</div>
							</div>
						</div>
						<div class="clr"></div>
					</div>
				</li>
				<li class="j_thread_list clearfix" data-field="{&quot;author_name&quot;:&quot;MH\u4e09\u57fa&quot;,&quot;id&quot;:2714213018,&quot;reply_num&quot;:63,&quot;is_bakan&quot;:0,&quot;vid&quot;:&quot;&quot;,&quot;is_good&quot;:0,&quot;is_top&quot;:0,&quot;is_protal&quot;:0}">
					<div class="t_con clearfix">
						<div class="threadlist_li_left j_threadlist_li_left">
							<div class="threadlist_rep_num" title="回复">63</div>
						</div>
						<div class="threadlist_li_right j_threadlist_li_right">
							<div class="threadlist_lz clearfix">
								<div class="threadlist_text threadlist_title j_th_tit  notStarList ">
									<a href="/p/2714213018" title="水分，最初人是如何感染艾滋病的" target="_blank" class="j_th_tit up">水分，最初人是如何感染艾滋病的</a>
									<span></span>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author" title="主题作者: MH三基" data-field="{&quot;user_id&quot;:857366797}">
										<a data-field="{&quot;un&quot;:&quot;MH\u4e09\u57fa&quot;}" class="j_user_card" href="/home/main/?un=MH%C8%FD%BB%F9&amp;fr=frs" target="_blank">MH三基</a>
									</span>
								</div>
							</div>
							<div class=" threadlist_detail clearfix">
								<div class="threadlist_text">
									<div class="threadlist_abs threadlist_abs_onlyline">
										<div class="threadlist_abs threadlist_abs_onlyline">
											众所周知，艾滋病最早出现在非洲灵长类动物身上 而艾滋病的传播模式主要有三种 1.血液传播 2.母婴传播 3.性传播 ————————分割线——————
										</div>
									</div>
									<ul class="threadlist_media j_threadlist_media" id="fm2713550374">
										<li>
											<div class="vpic_wrap">
												<img src="http://imgsrc.baidu.com/forum/abpic/item/63ec54e736d12f2e2c154f7c4dc2d5628535689e.jpg" class="threadlist_pic" height="75px">
											</div>
										</li>
										<li>
											<div class="vpic_wrap">
												<img src="http://imgsrc.baidu.com/forum/abpic/item/63ec54e736d12f2e2c154f7c4dc2d5628535689e.jpg" class="threadlist_pic" height="75px">
											</div>
										</li>
										<li>
											<div class="vpic_wrap">
												<img src="http://imgsrc.baidu.com/forum/abpic/item/63ec54e736d12f2e2c154f7c4dc2d5628535689e.jpg" class="threadlist_pic" height="75px">
											</div>
										</li>
									</ul>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author_rely j_replyer" title="最后回复人：hzh6261110">
										<a data-field="{&quot;un&quot;:&quot;hzh6261110&quot;}" class="j_user_card" href="/home/main/?un=hzh6261110&amp;fr=frs" target="_blank">hzh6261110</a>
									</span>
									<span class="threadlist_reply_date j_reply_data" title="最后回复时间">10:43</span>
								</div>
							</div>
						</div>
						<div class="clr"></div>
					</div>
				</li>
				<li class="j_thread_list clearfix" data-field="{&quot;author_name&quot;:&quot;wainzheng4&quot;,&quot;id&quot;:2714869441,&quot;reply_num&quot;:26,&quot;is_bakan&quot;:0,&quot;vid&quot;:&quot;&quot;,&quot;is_good&quot;:0,&quot;is_top&quot;:0,&quot;is_protal&quot;:0}">
					<div class="t_con clearfix">
						<div class="threadlist_li_left j_threadlist_li_left">
							<div class="threadlist_rep_num" title="回复">26</div>
						</div>
						<div class="threadlist_li_right j_threadlist_li_right">
							<div class="threadlist_lz clearfix">
								<div class="threadlist_text threadlist_title j_th_tit  notStarList ">
									<a href="/p/2714869441" title="把世界服和国服分开确实很不好哎" target="_blank" class="j_th_tit up">把世界服和国服分开确实很不好哎</a>
									<span></span>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author" title="主题作者: wainzheng4" data-field="{&quot;user_id&quot;:851745943}">
										<a data-field="{&quot;un&quot;:&quot;wainzheng4&quot;}" class="j_user_card" href="/home/main/?un=wainzheng4&amp;fr=frs" target="_blank">wainzheng4</a>
									</span>
								</div>
							</div>
							<div class=" threadlist_detail clearfix">
								<div class="threadlist_text">
									<div class="threadlist_abs threadlist_abs_onlyline">
										<div class="threadlist_abs threadlist_abs_onlyline">
											何时和服，就好了，到时候你们就可以看看民主是不是世界大势了。
											<!---->
										</div>
									</div>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author_rely j_replyer" title="最后回复人：jxh2956">
										<a data-field="{&quot;un&quot;:&quot;jxh2956&quot;}" class="j_user_card" href="/home/main/?un=jxh2956&amp;fr=frs" target="_blank">jxh2956</a>
									</span>
									<span class="threadlist_reply_date j_reply_data" title="最后回复时间">10:43</span>
								</div>
							</div>
						</div>
						<div class="clr"></div>
					</div>
					<script>window.PDC && PDC.first_screen && PDC.first_screen();</script>
				</li>
				<li class="j_thread_list clearfix" data-field="{&quot;author_name&quot;:&quot;a1250968072&quot;,&quot;id&quot;:2714886455,&quot;reply_num&quot;:1,&quot;is_bakan&quot;:0,&quot;vid&quot;:&quot;&quot;,&quot;is_good&quot;:0,&quot;is_top&quot;:0,&quot;is_protal&quot;:0}">
					<div class="t_con clearfix">
						<div class="threadlist_li_left j_threadlist_li_left">
							<div class="threadlist_rep_num" title="回复">1</div>
						</div>
						<div class="threadlist_li_right j_threadlist_li_right">
							<div class="threadlist_lz clearfix">
								<div class="threadlist_text threadlist_title j_th_tit  notStarList ">
									<a href="/p/2714886455" title="下个版本掠夺你们肿莫看" target="_blank" class="j_th_tit up">下个版本掠夺你们肿莫看</a>
									<span></span>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author" title="主题作者: a1250968072" data-field="{&quot;user_id&quot;:543516813}">
										<a data-field="{&quot;un&quot;:&quot;a1250968072&quot;}" class="j_user_card" href="/home/main/?un=a1250968072&amp;fr=frs" target="_blank">a1250968072</a>
										<div class="icon_wrap icon_wrap_theme1 frs_bright_icons">
											<a style="background: url(http://tb1.bdstatic.com/tb/cms/com/icon/icon_sprite.png?stamp=1384838789) no-repeat -800px  -0px;" target="_blank" href="http://tieba.baidu.com/tb/zt/qunliao/index.html" class="" title="贴吧群友" locate="is_group_owner_2"></a>
										</div>
									</span>
								</div>
							</div>
							<div class=" threadlist_detail clearfix">
								<div class="threadlist_text">
									<div class="threadlist_abs threadlist_abs_onlyline">
										<div class="threadlist_abs threadlist_abs_onlyline">
											小克能盾亢了你们肿莫看掠夺模块加30％全亢中槽俩针对亢一修一推子 能站着撸了你们怎么看？网加成变成射程加成外加模块30的射程加成能撸30公里了
											<!---->
										</div>
									</div>
								</div>
								<div class="threadlist_author">
									<span class="tb_icon_author_rely j_replyer" title="最后回复人：不想搞死你">
										<a data-field="{&quot;un&quot;:&quot;\u4e0d\u60f3\u641e\u6b7b\u4f60&quot;}" class="j_user_card" href="/home/main/?un=%B2%BB%CF%EB%B8%E3%CB%C0%C4%E3&amp;fr=frs" target="_blank">不想搞死你</a>
									</span>
									<span class="threadlist_reply_date j_reply_data" title="最后回复时间">10:44</span>
								</div>
							</div>
						</div>
						<div class="clr"></div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>


<% content_for :bodyScript do %>
<script src="<%= static_url "/assets/js/view/page.group.js" %>"></script>
<% end %>