<!DOCTYPE HTML>
<html>
<head>
  <%= csrf_meta_tags %>

	<meta charset="utf-8">
	<title>application</title>
  <script src="<%= static_url "/assets/js/lib/jquery.js" %>"></script>
</head>
<body>

  <%= yield %>

</body>
</html>
